.searchForm {
  display: block;
  h1 {
    text-align: center;
    padding: 2em 0em;
  }
  .forked {
    h5 {
      display: inline-block;
    }
    :global{
      .ant-form-item-control-wrapper {
        position: relative;
        transform: translate(0px, 50%);
      }
    }
  }
  :global {
    .ant-col {
      text-align: left;
    }
    .ant-row:nth-child(3){
      position: relative;
      display: flex;
      flex-flow: row wrap;
    }
  }
}


@media (max-width: 992px) {
  .searchForm {
    .forked {
      :global{
        .ant-form-item-control-wrapper {
          position: relative;
          transform:none;
        }
      }
    }
    :global {
      .ant-col {
        text-align: left;
      }
      .ant-row:nth-child(3){
        display: block;
      }
    }
  }
}
