.App {
  text-align: center;
}

.ant-layout {
  min-height: 100vmin;
  background: #fff;
}

.ant-layout-header {
  background: #108ee9;
}

.ant-layout-footer {
  background: #108ee9;
  text-align: center;
  color: #fff;
}
.appLogo {
  position: relative;
  top: 50%;
  transform: translate(0px, -50%);
}

.appLogo img{
  display:block;
  width: 50px;
}
